body{
    text-align: center;
    font-family: Raleway;
}

header{
    align-items: center;
    opacity: .9;
}

header h1{
    background-color: #4c95b5;
    margin-bottom: 15px;
    padding: 20px;
}

.mother-img{
    margin-bottom: 20px;
}

.game{
    display: flex;
    justify-content: space-between;
    justify-content: center;

}

.player-tite{
    display: inline;
}

.player-container {
    display: inline-block;
    border: 1px solid black;
    padding: 20px 60px 30px 60px;
    margin: 40px;
}

.ask-input{
    width: 50px;
    font-size: 18px;

}

.ask-button{
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    background-color: #d5e8e1;
    border: 1px solid #a5c4b9;
    border-radius: 10px;
}

.ask-button:hover{
    font-size: 20px;
    font-weight: bold;
}

.score-container {
    display: flex;
    justify-content: center;
}

.rounds{
    display: block;
    justify-content: center;
    padding: 20px;
}

#next-round-button{
    font-size: 18px;
    padding: 10px 50px 5px 50px;
    background-color: #76abc2;
    border: 1px solid #786c97;
    border-radius: 10px;
}

#next-round-button:hover{
    font-size: 20px;
    font-weight: bold;
}

.directions-container{
    display: block;
    text-align: left;

}

.directions-container ol{
    display: inline-flex;
    font-size: 18px;
}

li{
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}